/* színek */
.badge-pink{background:#f3b9dc;}

/* méretek */
.text-l{font-size:130%}.text-xl{font-size:160%}.text-xxl{font-size:200%}
.w-5{width:5%;}.w-10{width:10%;}.w-15{width:15%;}.w-20{width:20%;}
.w-1em{width:1em;}.w-2em{width:2em;}.w-3em{width:3em;}.w-4em{width:4em;}.w-5em{width:4em;}
.no-break{white-space:nowrap;}

/* cookie consent */
.opacity-1{opacity: 1!important;}
